/* Слайдер */
.slick-slider{
	position: relative;

	max-width: 100%;

	z-index: 4;

	.slick-list {
		overflow: hidden;
	}
	/* Лента слайдов */
	.slick-track{
		display: flex;
		align-items: flex-start;
	}

	// .slick-dots{

	
	// }	

}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */

/* Слайд */
.slick-slide{

	img {

		width: 100%;

	}

}


/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow {

		height: 50px;
		width: 35px;

		position: absolute;

		top: 30%;

		font-size: 0;

		background: #000;

		z-index: 1000;


		}

/* Стрелка влево */
.slick-prev{

	background: url(../img/Slider/leftArrow.png);

	border-radius: 0 15% 15% 0;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;


		left: 0px



}
/* Стрелка вправо */
.slick-next{

	background: url(../img/Slider/rightArrow.png);

	border-radius: 15% 0 0 15%;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	right: 0;


}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */

/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{
}
